# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore intelliJ IDEA files
.idea

# Ignore Eclise IDE file
.project
.classpath
bin
.settings

# Ignore Visual Studio Code files
.vscode

